<section id="about" class="py-0 md:py-20 relative">
  <div class="container mx-auto relative flex flex-col items-center justify-center py-16 text-white z-10">
    <div class="about-logo mb-16">
      <img src="/assets/img/logo_white_letter.png" alt="Mile Ilic Jao Mile">
    </div>
    <div class="about-text">
      <p>
        Podkast Jao Mile je osmišljen i koncipiran u vidu autorske emisije koja se bavi pitanjima profesionalne košarkaške karijere iz ugla afirmisanih košarkaša, trenera, sportskih agenata.
      </p>
      <p>
        Teme koje analiziraju početke, uzore, prvu opremu, impresije, zatim izazove profesionalne karijere, ali se bavi i pitanjima vezanim za život posle karijere sa kojima se profesionalni sportista susreće. 
      </p>
      <p>
        Podkast Jao Mile je značajan za promociju i razvoj sporta u regionu i predstavlja koristan i sveobuhvatan prikaz zdravog načina života koji se prikazuje široj društvenoj zajednici.
      </p>
    </div>
  </div>
</section>