<footer class="container mx-auto">
  <div class="footer-rights flex items-center justify-center pb-16 pt-16">
    All rights reserved 2023 &copy; Jao Mile
  </div>
</footer>


<script 
  src="https://cdn2.woxo.tech/a.js#6400a465f4030afa0415713b" 
  async data-usrc>
</script>
<script src="/js/swiper.js"></script>
<script src="/js/scrollreveal.js"></script>
<script src="/js/main.js" type="module"></script>
<script src="/js/reveal.js"></script>
<script src="/js/gsap.js"></script>
<script src="/js/ScrollTrigger.js"></script>