<section id="hero" class="container mx-auto mb-10 md:mb-40 md:pt-16">
  <div class="w-full flex flex-col-reverse md:gap-x-12 md:flex-row items-center justify-center">
    <div class="w-full md:w-auto p-6 md:-mt-16">
      <h1 class="hero-author mb-8 md:mb-10">{{ page.author_name }}</h1>
      <div class="hero-text">
        Bivši kosarkaš i reprezentativac Srbije (SCG). Košarkom se profesionalno bavio 18 godina i za to vreme nastupao za FMP, Crvenu zvezdu, NJ Nets (NBA) i mnoge druge klubove u Evropi i na Bliskom istoku.
      </div>
    </div>
    <div class="hero-image">
      <img src="/assets/img/Mile-Ilic-hero.jpg" alt="Mile Ilic">
    </div>
  </div>
</section>