<section id="services" class="pt-20 md:pt-32">
  <div class="services-box">
    <div class="mb-16 md:mb-0">
      <h3 class="mb-6 md:mb-10">Pretplatite se na <br> Youtube kanalu</h3>
      <a href="https://www.youtube.com/@JaoMilepodcast" target="_blank">
        <div 
          class="interactable"
          data-type="youtube"
          style="background-image: url({{page.services_left}})"
        >
        </div>
      </a>
    </div>

    <div class="mb-16 md:mb-0">
      <h3 class="mb-6 md:mb-10">Pratite nas na <br> Spotify-ju</h3>
      <a href="https://open.spotify.com/show/0vrmrrkOEvjhUMTUeQl6Xx" target="_blank">
        <div 
          class="interactable"
          data-type="spotify"
          style="background-image: url('https://picsum.photos/700/700')"
        >
        </div>
      </a>
    </div>
    
  </div>

</section>