<div id="shop" class="container mx-auto pt-40 pb-20 md:py-40">
  <h2 class="section-title mb-8 md:mb-20">{{ page.shop_title }}</h2>
  <div class="flex flex-col items-center justify-evenly">
    <div class="flex items-center justify-evenly w-full mb-12">
      {% for product in page.products %}
        <div class="product-image-wrapper flex items-center justify-center">
            <img class="product-image" src="{{product.image}}" alt="{{ product.title }}">
        </div>
      {% endfor %}
    </div>

    <div class="form-container mx-auto">
      <form class="mt-6" id="form" method="POST" action="https://formsubmit.co/jaomilepodcast@gmail.com">
        <div class="my-4 reveal">
          <div class="form-label md:block text-white">Ime i prezime:</div>
          <input type="text" id="fullname" name="Ime i prezime" placeholder="Puno ime i prezime" class="input" required />
        </div>
        <div class="my-4 reveal">
          <div class="form-label md:block text-white">Telefon:</div>
          <input type="text" id="phone" name="Telefon" placeholder="+38xxx/xxx-xx-xx" class="input" required />
        </div>
        <div class="my-4 reveal">
          <div class="form-label md:block text-white">Email:</div>
          <input type="email" id="email" name="Email" placeholder="email@gmail.com" class="input" required />
        </div>
        <div class="my-4 reveal">
          <div class="form-label md:block text-white">Adresa:</div>
          <input type="text" id="address" name="Adresa" placeholder="Puna adresa" class="input" required />
        </div>
        <div class="my-4 reveal">
          <div class="form-label md:block text-white">Izaberite proizvod:</div>
          <div class="mt-2 mb-6">
            {% for product in page.products %}
              <label for="product-{{ forloop.index }}" class="product-label flex items-center">
                <input type="checkbox" id="product-{{ forloop.index }}" name="Proizvod_{{ forloop.index }}" value="{{ product.title }} : {{ product.price }}" data-image="{{ product.image }}">
                {{ product.title }} - ({{ product.price }} RSD)
              </label>
            {% endfor %}
          </div>
        </div>
        <div class="my-4 reveal">
          <div class="form-label md:block text-white">Dodatni tekst:</div>
          <textarea id="additionaltext" name="Dodatni tekst" rows="4" cols="50"> </textarea>
        </div>
        <input type="hidden" name="_subject" value="Porucivanje šolje preko sajta!">
        <input type="hidden" name="_next" value="https://jaomile.com/">
        <input type="hidden" name="_captcha" value="false">
        <input type="hidden" name="_autoresponse" value="Hvala na porudzbini!">
        <div class="md:w-1/2 mx-auto reveal">
          <button type="submit" class="form-button w-full py-3 mx-auto">Pošalji</button>
        </div>
      </form>
      <div class="newsletterPopupAdditionalText text-center mt-6">
        <div class="reveal">* {{ page.first_disclaimer }} </div>
        <div class="reveal">** {{ page.second_disclaimer }} </div>
      </div>
    </div>
  </div>
</div>