<div id="shop" class="container mx-auto pt-40 pb-20 md:py-40">
  <h2 class="section-title mb-8 md:mb-20">Podržite rad kupovinom šolje</h2>
  <div class="flex flex-col md:flex-row items-center justify-evenly">
    <div class="mugs w-full md:w-1/2">
      <img src="{{page.mug_image}}" alt="solja">
    </div>
    <div class="form-container">
      <form class="mt-6" method="POST" action="https://formsubmit.co/vladimir96ks@gmail.com">
        <div class="my-4">
          <div class="form-label md:block text-white">Ime i prezime:</div>
          <input type="text" id="fullname" name="Name" placeholder="Puno ime i prezime" class="input" required />
        </div>
        <div class="my-4">
          <div class="form-label md:block text-white">Telefon:</div>
          <input type="text" id="phone" name="Phone" placeholder="+38xxx/xxx-xx-xx" class="input" required />
        </div>
        <div class="my-4">
          <div class="form-label md:block text-white">Email:</div>
          <input type="text" id="email" name="Email" placeholder="email" class="input" required />
        </div>
        <div class="my-4">
          <div class="form-label md:block text-white">Dodatni tekst:</div>
          <textarea id="w3review" name="w3review" rows="4" cols="50"> </textarea>
        </div>
        <input type="hidden" name="_subject" value="Porucivanje šolje preko sajta!">
        <input type="hidden" name="_next" value="https://jao-mile.vercel.app//">
        <input type="hidden" name="_captcha" value="false">
          <input type="hidden" name="_autoresponse" value="Hvala na porudzbini!">
        <div class="md:w-1/2 mx-auto">
          <button type="submit" class="form-button w-full py-3 mx-auto">Pošalji</button>
        </div>
      </form>
      <div class="newsletterPopupAdditionalText text-center mt-6">
        <div>* {{ page.first_disclaimer }} </div>
        <div>** {{ page.second_disclaimer }} </div>
      </div>
    </div>
  </div>
</div>