{% assign current_page = 'index' %}
{% assign page_title = 'Welcome' %}
{% include head.html %}
{% include nav.html %}
{% include mobile-nav.html%}


<main>
  <section id="hero" class="container mx-auto mb-10 md:mb-40 md:pt-16">
    <div class="w-full flex flex-col-reverse md:gap-x-12 md:flex-row items-center justify-center">
      <div class="w-full md:w-auto p-6 md:-mt-16">
        <h1 class="hero-author mb-8 md:mb-10 reveal-delay-1s">{{ page.author_name }}</h1>
        <div class="hero-text reveal-delay-1s">
          {{ page.hero_text }}
        </div>
      </div>
      <div class="hero-image-container" data-transform-value="0">
        <div class="hero-image relative reveal-right-delay-1s">
          <img src="{{ page.hero_image }}" alt="{{ page.author_name }}">
          <div class="arrow-down block md:hidden">
            <svg id="Chevrons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 55" class="img-svg">
              <defs>
                <filter id="f1" x="0" y="0" width="200%" height="200%">
                  <feOffset result="offOut" in="SourceGraphic" dx="1" dy="0.5" />
                  <feGaussianBlur result="blurOut" in="offOut" stdDeviation="1" />
                  <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
                </filter>
              </defs>
              <path class="chevron" id='TopChevron' d="M52,4.2L28,23.7c-0.1,0.1-0.3,0.2-0.5,0.2c-0.2,0-0.3-0.1-0.5-0.2L3,4.2c-0.3-0.2-0.4-0.7-0.1-1
        C3,3,3.2,2.9,3.5,2.9H9c0.2,0,0.3,0.1,0.4,0.2l18,14.6L45.5,3c0.1-0.1,0.3-0.2,0.5-0.2h5.6c0.3,0,0.6,0.2,0.7,0.5
        C52.3,3.7,52.2,4,52,4.2z" />
              <path class="chevron" id='MiddleChevron' d="M52,31.8L28,51.3c-0.1,0.1-0.3,0.2-0.5,0.2c-0.2,0-0.3-0.1-0.5-0.2L3,31.8c-0.3-0.2-0.4-0.7-0.1-1
        c0.1-0.2,0.3-0.3,0.6-0.3H9c0.2,0,0.3,0.1,0.4,0.2l18,14.6l18-14.6c0.1-0.1,0.3-0.2,0.5-0.2h5.6c0.3,0,0.6,0.2,0.7,0.5
        C52.3,31.3,52.2,31.6,52,31.8z" />
              <path class="chevron" id='BottomChevron' d="M52,59.5L28,79c-0.1,0.1-0.3,0.2-0.5,0.2c-0.2,0-0.3-0.1-0.5-0.2L3,59.5c-0.3-0.2-0.4-0.7-0.1-1
        c0.1-0.2,0.3-0.3,0.6-0.3H9c0.2,0,0.3,0.1,0.4,0.2l18,14.6l18-14.6c0.1-0.1,0.3-0.2,0.5-0.2h5.6c0.3,0,0.6,0.2,0.7,0.5
        C52.3,59,52.2,59.3,52,59.5z" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="md:mt-32 cta-container">
    <div class="cta-image" style="background-image: url('{{ page.cta_image }}');"></div>
  </div>

  <section id="about" class="py-8 md:py-20 relative">
    <div class="container mx-auto relative flex flex-col items-center justify-center py-20 text-white z-10">
      <div class="about-logo mb-16 reveal">
        <img src="{{ page.spinning_logo }}" alt="{{ page.author_name }} logo">
      </div>
      <div class="about-text reveal">
        {{ page.about_text | markdownify }}
      </div>
    </div>
  </section>

  <section id="services" class="pt-20 md:pt-32">
    <div class="services-box reveal">
      <div class="mb-16 md:mb-0">
        <h3 class="mb-6 md:mb-10">Pretplatite se na <br> Youtube kanalu</h3>
        <a href="{{ page.service_first_link }}" target="_blank">
          <div 
            class="interactable"
            data-type="youtube"
            style="background-image: url({{page.service_first}})"
          >
          </div>
        </a>
      </div>
  
      <div class="mb-16 md:mb-0 reveal">
        <h3 class="mb-6 md:mb-10">Pratite nas na <br> Spotify-ju</h3>
        <a href="{{ page.service_second_link }}" target="_blank">
          <div 
            class="interactable"
            data-type="spotify"
            style="background-image: url('{{ page.service_second }}')"
          >
          </div>
        </a>
      </div>
    </div>
  </section>

  {% include last_episodes.html %}

  {% include shop_form.html %}

</main>



{% include footer.html %}
